@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Website for jokes</h1>
    <h2 class="3">by Gavin Shaw</h2>
    <p>This is the index page of the Jokes Application</p>
</div>
